body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-image: url('https://i.pinimg.com/originals/47/3f/ee/473fee44c087a5ff4480f17bc35eb4cc.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:black;
    margin: 0 0 5px;
    font-size: 40px
  }
  
  .page-subtitle {
    color: black;
    margin-top: 5px;
    font-size: 35px
  }
  
  .page-logo {
    width: 200px;
  }
  
  .calculadora {
    width: 280px;
    height: 400px;
    background-image: url('https://upload.wikimedia.org/wikipedia/pt/8/87/Kurosaki-Ichigo_bankai.jpg');
    margin: 0 auto;
    position: relative;
  }

 input {
    position: absolute;
    font-size:16px;
    font-weight:bold;
    top: 560px;
    left: calc(50% - 72.5px);
    width: 140px;
    text-align:center;
  }
  
 #enviar {
    position: absolute;
    font-size:15px;
    font-weight:bold;
    top: 600px;
    left: calc(50% - 72.5px);
    width: 140px;
    text-align:center;
  }

#resposta {
    position: absolute;
    font-size:30px;
    font-weight:bold;
    top: 640px;
    left: calc(50% - 72.5px);
    width: 145px;
    text-align:center;
  }
